@import '../../sass/colors.scss';

.priority-section {
    background-image: url("~/src/assets/lks/2.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    margin-top: 150px;

    .priority-text {
        background-color: white;
        max-width: 630px;
        height: 230px;
        margin-top: 370px;
        margin-bottom: 30px;
        border-radius: 30px;

        .section-title {
            padding-top: 30px;
            padding-left: 35px;
            margin-bottom: 30px;
            padding-right: 15px;

            h2 {
                max-width: inherit;
            }
        }

        .theme-btn {
            margin-top: 80px;
        }
    }
}


// Mobile Responsive
@media (max-width: 575px) {
    .priority-section {
        padding-bottom: 20px;

        .priority-img {
            margin-right: 0;

            &::before {
                display: none;
            }
        }

        .priority-text {
            .theme-btn {
                margin-top: 20px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .priority-section {
        padding-bottom: 70px;

        .priority-img {
            margin-right: 0;
            text-align: center;

            &::before {
                display: none;
            }
        }

        .priority-text {
            .theme-btn {
                margin-top: 0;
            }
        }
    }
}


// Medium Device Responsive
@media (min-width: 768px) and (max-width: 991px) {
    .priority-section {
        padding-bottom: 70px;

        .priority-img {
            margin-right: 0;
            text-align: center;

            &::before {
                display: none;
            }
        }

        .priority-text {
            .theme-btn {
                margin-top: 0;
            }
        }
    }
}

// Medium Device Responsive 
@media (min-width: 991px) and (max-width: 1199px) {
    .priority-section {
        padding-bottom: 70px;
        padding-top: 0px;

        .priority-img {
            &::before {
                display: none;
            }
        }
    }
}

// Large Device Responsive
@media (min-width: 1200px) and (max-width: 1800px) {
    .priority-section {
        .priority-img {
            &::before {
                display: none;
            }
        }
    }
} 