@import './../../sass/colors.scss';
.admin-container {
    padding: 20vh;

    .admin-section {
        margin-bottom: 40px;

        .about-details-container {
            border: 1px solid #ccc;
            padding: 20px;
        }

        .about-details-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .section-title {
            margin-bottom: 20px;
        }

        .save-btn {
            padding: 10px 20px;
            width: auto;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .save-btn:hover {
            background-color: #0056b3;
        }

        form {
            margin-bottom: 20px;

            .about-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                .about-column {
                    display: flex;
                    flex-direction: column;
                }

                label {
                    font-weight: bold;
                }

                input[type="text"],
                textarea {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
            }

            textarea {
                height: 100%;
            }
        }

        .faculty-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        button.add-member-btn {
            padding: 10px 20px;
            width: auto;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button.add-member-btn:hover {
            background-color: #0056b3;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;

            th, td {
                padding: 10px;
                border: 1px solid #ddd;
            }

            tr:hover {
                background-color: #ddd;
            }

            input[type="file"] {
                margin: 0 auto;
                display: block;
            }

            button {
                padding: 5px 10px;
                width: auto;
                color: #fff;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: background-color 0.3s;
                margin-right: 5px;
                font-size: 10px;
                background-color: $color-blue;
            }

            button:hover {
                background-color: #dc3545;
            }
        }
    }
}