// AdminBlogs.scss
@import './../../sass/colors.scss';

.admin-blogs {
    padding: 20vh;

    .admin-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .create-button {
        padding: 10px 20px;
        width: auto;
        background-color: $color-blue;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .create-button:hover {
        background-color: #0056b3;
    }

    .blogs-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px;
    }

    .blog-item {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        .blog-text {
            padding: 15px;
            background-color: #fff;
            border-radius: 5px;
            flex-grow: 1; /* Allow the text to expand to fill remaining space */
            display: flex;
            flex-direction: column;
        }

        span {
            color: $color-blue;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 18px;
            margin: 10px 0;
        }

        p {
            font-size: 15px;
            flex-grow: 1; /* Allow the description to expand to fill remaining space */
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            margin-top: auto; /* Push the button container to the bottom */
        }

        .edit-button, .delete-button {
            padding: 5px 10px;
            background-color: #cc4545;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .edit-button {
            background-color: $color-blue;
        }
    }

    .create-blog-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 9999;

        h2 {
            margin-bottom: 20px;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        textarea {
            height: 100px;
        }

        .button-container {
            display: flex;
            justify-content: flex-end;
        }

        button {
            padding: 10px 20px;
            background-color: $color-blue;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-left: 10px;
        }

        button:hover {
            background-color: #0056b3;
        }
    }
}
